body{
    background-attachment: fixed;
    background-color: blanchedalmond;
}
h1{
    text-align: left;
    font-family:'Times New Roman';
    font-size: 45px;
    font-style: bold;
    

}
h2{
    text-align: left;
    font-family: Arial;
    font-size: 25px;
    font-style: bold;
    text-decoration: underline;


}
.referQ{
    font-size: 14px;
    font-family: Calibri;
    padding: 25px;
    background-color: lightblue;
}
.vl {
  border-left: 1px solid blue;
  height: 700px;
  position: fixed;
  left: 60%;
  margin-left: 60px;
  top: 100px;
  padding: 12px;
  margin: 25px;
}