body{
    background-attachment: fixed;
    background-color: azure;
}
h1{
   text-align: left;
   font-family: 'Times New Roman';
   font-size: 60px;
   font-style: italic;
   font-style: bold;
    

}
h2{
   text-align: left;
   font-family: fantasy;
   font-size: 30px;
   font-style: bold;
   text-decoration: underline;

}
.referQ{
    font-size: 14px;
    font-family: Calibri;
    padding: 25px;
    background-color: wheat;
}
.vl {
  border-left: 1px solid blue;
  height: 700px;
  position: fixed;
  left: 60%;
  margin-left: 60px;
  top: 100px;
}

/* Dashed border */
hr.dashed {
  border-top: 7px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}